<%= react_component 'Appointments' %>

<%= form_for @appointment, remote: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: :"form-control" %>

  <%= f.label :appt_time %>
  <%= f.text_field :appt_time, class: :"form-control" %>

  <%= f.submit 'Make Appt' %>
<% end %>

<div id="appointments">
  <%= render 'appointments' %>
</div>
